.main-div{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    margin: 0px 50px;
    height: 100px;
}

.profile-picture{
    height: 70px;
    border-radius: 50%;
}

.logo{
    flex-grow: 1;
    user-select: none;
    font-size: 32px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.header-button{
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 20px;
    background-color: #FF7F50;
    border-radius: 8px;
    transition: all 0.25s;
    border: none;
    cursor: pointer;
}

.header-button:hover{
    background-color: #E76B3A;
}