@import "leaflet/dist/leaflet.css";


html, body{
    background-color: rgba(255, 255, 255, 1);
    margin: 0px;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Helvetica;
  }
  
  #root{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  main{
    flex-grow: 1;
  }


  .loading-div{
    display: flex;
    justify-content: center;
    margin: 200px 0;
}

@keyframes rotate {
    to {  transform: rotate(1turn) }
}


.loading__anim {  
    width: 60px;  
    height: 60px;
    display: inline-block;

    border: solid 5px rgba(255, 255, 255, 1);
    border-top-color: rgba(19, 135, 144, 1);
    border-right-color: rgba(19, 135, 144, 1);
    border-radius: 50%;
    animation: rotate;
    animation-duration: 700ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}